<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to GitTerraGame!</title>
    <meta content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <style>
      body {
        background-color: white;
        background: url("/images/background_and_menus/site_background_image_bg.svg");
        background-size: cover;
      }

      #logobanner {
        aspect-ratio: auto 400 / 216.012;
        width: 100%;
      }

      #wholeMenu {
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
        position: absolute;
        width: 85%;
        min-width: 15em;
        max-width: 32em;
      }
    </style>
    <% if (googleTag) { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= googleTag %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "<%= googleTag %>");
    </script>
    <% } %>
  </head>
  <body>
    <div id="gitterra-app">
      <div id="wholeMenu">
        <img
          id="logobanner"
          src="/images/background_and_menus/logobanner.svg"
        />
      </div>
    </div>
  </body>
</html>
